/* GitHub Theme */

.prettyprint {
    background: #EEEEEE;
    position: relative;
    padding: 10px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 1.25rem;
    color: #888888;
    vertical-align: top;
    white-space: pre;
    overflow: visible;
    word-wrap: normal;
}

.pln {
    color: #888888;
}

@media screen {
    .str {
        color: #dd1144;
    }
    .kwd {
        color: #888888;
    }
    .com {
        color: #CCCCCC;
    }
    .typ {
        color: #445588;
    }
    .lit {
        color: #445588;
    }
    .pun {
        color: #888888;
    }
    .opn {
        color: #888888;
    }
    .clo {
        color: #888888;
    }
/*    .tag {
        color: navy;
    }*/
    .atn {
        color: teal;
    }
    .atv {
        color: #dd1144;
    }
    .dec {
        color: #888888;
    }
    .var {
        color: teal;
    }
    .fun {
        color: #990000;
    }
}

@media print,
projection {
    .str {
        color: #006600;
    }
    .kwd {
        color: #006;
    }
    .com {
        color: #600;
    }
    .typ {
        color: #404;
    }
    .lit {
        color: #004444;
    }
    .pun,
    .opn,
    .clo {
        color: #444400;
    }
/*    .tag {
        color: #006;
        font-weight: bold;
    }*/
    .atn {
        color: #440044;
    }
    .atv {
        color: #006600;
    }
}
/* Specify class=linenums on a pre to get line numbering */

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
/* IE indents via margin-left */

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    /* */
}
/* Alternate shading for lines */

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    /* */
}
